<div class="common-main" auto-height>
  <div class="common-main-title">
    <div class="container">
      <span class="zh-title">{{"SETTING.PASSWORD.TITLE"|translate}}</span>
      <span class="en-title hidden-xs"><span class="line">|</span>CHANGE LOGIN PASSWORD</span>
    </div>
  </div>
  <div class="container setting-action">
    <form class="form-horizontal isform" ng-submit="vm.password()" role="form">
      <div class="form-group">
        <label for="buy" class="col-sm-5 control-label">{{"SETTING.PASSWORD_OLD" | translate}}</label>
        <div class="col-sm-7">
          <input type="password" class="form-control input-sm"
            name="oldPassword"
            id="oldPassword"
            ng-model="vm.oldPassword"
            placeholder="{{'SETTING.PASSWORD_CURRENT' | translate}}">
            <!-- <p ng-show="!error_password">{{"SETTING.PASSWORD_NEW" | translate}}</p> -->
        </div>
      </div>
      <div class="form-group">
        <label for="amount" class="col-sm-5 control-label">{{"SETTING.PASSWORD_NEW" | translate}}</label>
        <div class="col-sm-7">
          <input type="password" class="form-control input-sm"
            name="newPassword"
            id="newPassword"
            ng-model="vm.newPassword"
            placeholder="{{'SETTING.PASSWORD_NEW' | translate}}"
            ng-change="vm.doubleCheckPassword(vm.newPassword, vm.newPassword2); PasswordHasStandards(vm.newPassword);">
            <p><span class="error" ng-if="error_password"><span class="text-error"></span>{{error_password|translate}}</p>
            <!-- <p ng-show="doubleCheck.password==true && doubleCheck.verify==false">{{"SETTING.PASSWORD_DOUBLE" | translate}}</p> -->
            
            <!-- <p ng-show="doubleCheck.verify==true">{{ 'SETTING.PASSWORD_GOOD' | translate }}</p> -->
        </div>
      </div>
      <div class="form-group">
        <label for="tpass" class="col-sm-5 control-label">{{"SETTING.PASSWORD.REPEAT" | translate}}</label>
        <div class="col-sm-7">
          <input type="password" class="form-control input-sm"
            name="newPassword"
            id="newPassword"
            ng-model="vm.newPassword2"
            placeholder="{{'SETTING.PASSWORD_DOUBLE' | translate}}"
            ng-change="vm.doubleCheckPassword(vm.newPassword, vm.newPassword2)">
          <p class="error" ng-show="doubleCheck.password==false && doubleCheck.verify==false">
            <span class="text-error"></span>{{ 'SETTING.PASSWORD_NO_MA' | translate }}</p>
        </div>
      </div>
      <div class="form-group" style="padding-top: 15px;">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-submit btn-block" ng-disabled="!doubleCheck.verify">
              <span ng-show="submit_sending"><i class="glyphicon glyphicon-refresh spinning"></i></span>
              <span ng-hide="submit_sending">{{'SETTING.UPDATE2' | translate}}</span>
            </button>
        </div>
      </div>
    </form>
  </div>
</div>