@charset "utf-8";

//背景顔色
$themeColor: #f1f1f1;
// 字体颜色
$fontColor: #151F3F;
$color: #fff;
$default: #69788e;
//主題色
$mainColor:#151F3F;
$button:#11cfe0;
$button-light:#B1D9F0;
//标识涨跌幅主题色
$up:#7ec62a;
$down:#FF0000;
ul,li{
  list-style-type:none;
  margin: 0;
  padding: 0;
}
body{
  font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
  //background: $themeColor;
  color: $fontColor;
}
a, a:hover, a:active .a-old,a:focus{
  text-decoration: none;
}
.font-color{
  color:$fontColor;
}
.down{
  color: $down;
}
._up{
  color: $up;
}
[ng\:cloak],[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
  Display:none ! important;
}